<%= render "layouts/header" %>

<main>
  
  <div class="cart-wrap">
    <div class="cart-title">
      <h3>My Page</h3>
      <h2>マイページ</h2>
    </div> 
      <p class="like-title">お気に入り商品</p>
      <% if current_user.likes.present? %>
        <ul>
          <% @like_products.each do |product| %>
          <li class="cart-items">
            <div class="cart-image">
              <%= link_to image_tag(product.image), product_path(product.id) %>
            </div>
            <div class="cart-contents">
              <div class="cart-top">
                <p class="cart-name"><%= product.name %></p>
                <p class="cart-price"><%= product.price.to_s(:delimited) %>円</p>
              </div>
              <%= form_with model: CartItem.new, url: add_carts_path, local: true do |f| %>
              <div class="like-form">
                <div>数量：<%= f.text_field :quantity, value: 1, class:"like-quantity" %></div>
                <%= f.hidden_field :product_id, value: product.id %>
                <div><%= f.submit 'カートへ入れる', class:"like-submit" %></div>
              </div>
              <% end %>
            </div>
          </li>
        <% end %>
        </ul>
      <% else %>
        <li class="like-non">お気に入りに登録している商品はありません</li>
      <% end %>
    <%= link_to 'Top Page', root_path, class: "purchase-btn like-btn" %>
    <%= link_to '>> ログアウト', destroy_user_session_path, method: :delete, class: "link-new like-btn2" %>
  </div>
</main>

<%= render "layouts/footer" %>