<% @cart.cart_items.each do |item| %>
<%= item.product.name %>
<%= item.quantity %>
<%= item.product.price * item.quantity  %>
<% end %>
<%= @cart.total_price.to_s(:delimited) %>

<%= form_with model: @destination_order, url: orders_path, id: 'charge-form', local: true do |f| %>
<%= render 'layouts/error', model: @destination_order  %>
<%# カード情報の入力 %>
<div class="f-n">
  <label class="form-text">カード情報</label>
  <span class="indispensable">必須</span>
  <div class="fm">
    <%= f.text_field :number, class:"input-default", id:"card-number", placeholder:"カード番号(半角英数字)", maxlength:"16", class: "form-string" %>
  </div>
  <label class="form-text">有効期限</label>
  <span class="indispensable">必須</span>
  <div class="fm fm1">
    <%= f.text_field :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例：3", class: "form-string s1" %>
    <p>月</p>
    <%= f.text_field :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例：25", class: "form-string s1" %>
    <p>年</p>
  </div>
  <label class="form-text">セキュリティコード</label>
  <span class="indispensable">必須</span>
  <div class="fm">
    <%= f.text_field :cvc, class:"input-default", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4", class: "form-string" %>
  </div>
<div>

<div class="f-n">
  <div class="fm fm1">
    <%= f.text_field :last_name, placeholder:"名字", class: "form-string s1" %>
    <%= f.text_field :first_name, placeholder:"名前", class: "form-string s1" %>
  </div>
</div>
<div class="f-n">
  <div class="fm">
    <%= f.text_field :post_code, placeholder:"郵便番号", class: "form-string" %>
  </div>
  <div class="fm">
    <div class="form-select form-sl">
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) %>
    </div>
  </div>
  <div class="fm">
    <%= f.text_field :city, placeholder:"市町村", class: "form-string" %>
  </div>
  <div class="fm">
    <%= f.text_field :address, placeholder:"番地", class: "form-string" %>
  </div>
  <div class="fm">
    <%= f.text_field :building, placeholder:"建物名", class: "form-string" %>
  </div>
  <div class="fm">
    <%= f.text_field :phone, placeholder:"電話番号", class: "form-string" %>
  </div>
</div>
<div class="f-submit">
  <%= f.submit "購入を確定する", class:"form-submit", id:"card-submit" %>
</div>
<% end %>
