<%= render 'header' %>
<main>
  <ul class="admin-menu">
    <%= link_to '商品登録', new_admin_product_path, class: "admin-list" %>
    <%= link_to '注文履歴', '#', class: "admin-list" %>
    <div class="admin-index">
      <p class="admin-label">< 商品一覧 ></p>
      <% @products.each do |product| %>
      <li class="admin-product">
        <div class="admin-info">
          <p class="admin-name"><%= product.name %></p>
          <div class="admin-btns">
            <%= link_to '編集', edit_admin_product_path(product.id), class: "admin-edit" %>
            <%= link_to '削除', admin_product_path(product.id), method: :delete, class: "admin-destroy", data: {confirm: "削除しますか？"}  %>
          </div>
        </div>
      </li>
      <% end %>
    </div>
  </ul>
</main>
<%= render 'footer' %>