<%= render "layouts/header" %>
<main>
  <div class="show-wrap">
    <div class="show-colmn">
      <div class="show-top">
        <div class="show-image">
          <%= image_tag @product.image %>
        </div>
        <div class="show-info">
          <h3>Product Details</h3>
          <div class="show-detail">
            <p class="show-name"><%= @product.name %></p>
            <div class="show-flex">
              <p class="show-volume"><%= @product.volume %></p>
              <p class="show-price"><%= @product.price.to_s(:delimited) %>円(税込)</p>
            </div>
          </div>
          <p class="show-ingredient"><%= @product.ingredient %></p>
          <div class="show-cart">
            <div class="show-form">
            <%= form_with model: CartItem.new, url: add_carts_path, local: true do |f| %>
              数量：<%= f.text_field :quantity, value: 1, class:"show-quantity" %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.submit 'カートへ入れる', class:"show-submit" %>
              <div class="like"> 
                <button class="like-button">
                  <i class="fa-solid fa-heart"></i>
                </button>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="show-bottom">
        <h2><%= @product.title %></h2>
        <p class="show-explanation"><%= safe_join(@product.explanation.split("\n"),tag(:br)) %></p>
        <p class="show-made-in">MADE IN <%= @product.made_in.name %></p>
      </div>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>