<footer>
      <div class="foot-contents">
        <div class="foot-content1">
          <%= link_to image_tag("logo2.png", class:"foot-logo"), '#' %>
          <ul class="foot-nav1">
            <li><%= link_to 'Shopping guide', '#', class:"guide-nav" %></li>
            <li><%= link_to 'Company', '#', class:"company-nav" %></li>
          </ul>
        </div>
        <div class="foot-content2">
          <ul class="foot-nav2">
            <li><%= link_to '個人情報保護方針', '#', class:"privacy-nav" %></li>
            <li><%= link_to '特定商取引法に基づく表示', '#', class:"law-nav" %></li>
            <li><%= link_to '管理ページ', admin_products_path, class:"admin-nav" %></li>
          </ul>
        </div>
      </div>
      <div class="foot-bar">
        <p class="copyright">©日本酒化粧品の通販・ギフト｜ふじのふもとの姫beauty all right reserved.</p>
      </div>
    </footer>