<%= render "layouts/header" %>
<main>
  <div class="f-wrap">
    <div class="f-wraprap">
      <div class="f-title">
        <h3>Welcome!</h3>
        <h2>新規会員登録<h2>
      </div>
      <div class="f-n">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render 'layouts/error', model: f.object %>
        <div class="f-n">
          <div class="fm">
            <%= f.text_field :nickname, placeholder:"ニックネーム", class: "form-string" %>
          </div>
          <div class="fm">
            <%= f.email_field :email, placeholder:"E-mail", class: "form-string" %>
          </div>
          <div class="fm">
            <%= f.password_field :password, placeholder:"Password", class: "form-string" %>
          </div>
          <div class="fm">
            <%= f.password_field :password_confirmation, placeholder:"(確認用) Password", class: "form-string" %>
          </div>
        </div>
        <div class="f-submit">
          <%= f.submit "SIGN UP", class:"form-submit" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
